@media (min-width: 320px) and (max-width: 780px) {

.home-pie.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-5.current_page_item.menu-item-107 {
  display: none !important;

}
header {
  top: 59px !important;
}
.menu {
  display: flex !important;
}

.mouse-scroll {
	display: none;
}
.main-nav{
	display: none;
}

.red-top {
  left: 0;
  position: fixed;
  top: 90%;
  width: 100%;
}
.red-top > li {
  display: inline-flex;
  width: 50%;
}
.red-top > li:nth-child(3){
	display: none;
}
.slogan h3 {
  font-size: 2em !important;
  padding-top: 82% !important;
}
.widgets-top-tels ul li a {
  font-size: 0.8em !important;
}
.top-bar ul li:nth-child(2){
	border-right: none !important; 
}
.parallax-window h3{
	padding-right: 4% !important;
	text-align: center !important;
}
.parallax-window h3 span{
	font-size: 1.0em !important;
}
.text-line-home h4.res::before{
	left: 34px !important;
	top: -17px;
}
.ppc-1::before {
  display: none;
}
.ppc-contents::before, .ppc-4::before{
  display: none;
}
.ppc-content {
  margin-bottom: 60px;
  margin-left: 10px !important;
  width: 100%;
}
.ppc-2::before{
  display: none;
}
.ppc-3::before{
  display: none;
}
.sem-bola {
  background: #e4993b none repeat scroll 0 0;
  border-radius: 0 !important;
  height: 740px;
  left: 0;
  position: absolute;
  top: -50px;
  width: 100% !important;
}
.sem-bola::before{
  display: none;
}
.tabs-seo div.tab-content p {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  font-size: 1.125em;
  line-height: 1.625em;
  text-align: right;
}
/* */
.tabs-seo ul.nav-tabs {
  float: left !important;
  text-align: center;
  width: 100% !important;
}

/* */


.proceso .tabs-seo div.tab-content .seo-asesoria {
  display: none;
}
.nav.nav-tabs {
  width: 100% !important;
}

.proceso .tabs-seo div.tab-content .info-tab-2 {
    float: left;
    padding: 28px 28px 0 28px;
    position: relative !important;
    width: 100% !important;
    right: 0;
    margin-right: 0% !important;
    height: 100%;
}

.proceso .tabs-seo div.tab-content .seo-identificacion {
  display: none;
}

.home-pie.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-107 {
  display: none;
}

.proceso .tabs-seo div.tab-content .seo-optimizacion {
  display: none;
}
.proceso .tabs-seo div.tab-content .seo-creacion {
  display: none;
}
.proceso .tabs-seo div.tab-content .seo-analisis {
  display: none;
}

.proceso .tabs-seo div.tab-content .seo-incremento {
  display: none;
}
table.tabla-dominios td {
  display: block;
  width: 100% !important;
}

.tabla-precio {
 margin-bottom: 82px !important;
}
.buscar-dominio input.search-domain {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px 0 0 4px;
  font-weight: 300;
  height: 30px;
  margin: 0;
  padding-left: 8px;
  width: 63% !important;
}
.buscar-dominio select {
  width: 19% !important;
}
.slide-apps-apps {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/uploads/2016/11/apps-img.png") no-repeat scroll center top;
  box-sizing: border-box;
  height: 430px;
  margin-left: 0;
  margin-top: 72px;
  padding-top: 54px;
  position: relative !important;
  width: 100%;
  z-index: 100;
}
.caja-blanca {
display: none !important;
}
.barra-amarilla {
    background: #ffd347 !important;
    height: 601px !important;
}
.top-bar ul li a {
  font-size: 0.65em !important;
}
.text-line-home h4.res::before {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/themes/Marketeros-Theme/images/icons-mk.png") repeat scroll -678px 0 /cover !important;
  content: "";
  height: 40px !important;
  left: 42px !important;
  position: absolute;
  top: -7px !important;
  width: 40px !important;
}
.text-line-home h4.exp::before {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/themes/Marketeros-Theme/images/icons-mk.png") repeat scroll -757px 0 / cover  !important;
  content: "";
  height: 40px !important;
  left: 34px !important;
  position: absolute;
  top: -5px !important;
  width: 40px !important;
}
.text-line-home h4.sop::before {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/themes/Marketeros-Theme/images/icons-mk.png") repeat scroll -841px 0 / cover  !important;
  content: "";
  height: 40px !important;
  left: 60px !important;
  position: absolute;
  top: -6px !important;
  width: 40px !important;
}
.text-line-home h4.gar::before {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/themes/Marketeros-Theme/images/icons-mk.png") repeat scroll -641px 0 / cover  !important;
  content: "";
  height: 40px !important;
  left: 52px !important;
  position: absolute;
  top: -9px;
  width: 40px !important;
}
.text-line-home h4.com::before {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/themes/Marketeros-Theme/images/icons-mk.png") repeat scroll -725px 0 / cover  !important;
  content: "";
  height: 40px !important;
  left: 33px !important;
  position: absolute;
  top: -3px !important;
  width: 40px !important;
}
.text-line-home h4.ase::before {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/themes/Marketeros-Theme/images/icons-mk.png") repeat scroll -802px 0 / cover  !important;
  content: "";
  height: 40px !important;
  left: 60px !important;
  position: absolute;
  top: -7px !important;
  width: 40px !important;
}
.testimonios-home {
  padding: 0px 0 0px !important;
}
.contactenos {
  display: none;
}
.btn-proy-web.wow.fadeIn.animated {
  display: none;
}
.slide-web {
  background: #000 none repeat scroll 0 0;
  height: 243px;
  margin: 0 auto;
  width: 100% !important;
}

.bg-slide-web {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/uploads/2016/11/web-img.png") no-repeat scroll center top;
  box-sizing: border-box;
  height: 430px;
  margin-top: 40px;
  padding-top: 40px;
  position: absolute;
  top: -118px;
  width: 100% !important;
  z-index: 100;
}
.bg-slide-seo {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/uploads/2016/12/bg-seo-home.png") no-repeat scroll center top;
  box-sizing: border-box;
  height: 220px;
  margin-left: -13px !important;
  margin-top: 210px;
  padding-left: 3px;
  padding-top: 11px;
  position: absolute;
  width: 100%;
  z-index: 110;
}
.titulares h3 {
  color: #333;
  font-size: 1.7em !important;
  font-weight: 300;
}
.slide-web {
  background: #000 none repeat scroll 0 0;
  height: 159px !important;
  margin: 0 auto;
  width: 87% !important;
}
.bg-slide-web {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/uploads/2016/11/web-img.png") no-repeat scroll center top / cover  !important;
  box-sizing: border-box;
  height: 280px !important;
  margin-top: 40px;
  padding-top: 26px !important;
  position: absolute;
  width: 100%;
  z-index: 100;
  left: -3px;
}
a.btn-proy-seo::before{
  display: none;
}
.bg-slide-seo {

  margin-top: 192px !important;
}
.slide-redes {
  background: #000 none repeat scroll 0 0;
  height: 258px;
  margin: 0 auto;
  width: 100% !important;
}
.btn-proy-red.wow.fadeIn.animated {
  display: none;
}
.btn-proy-apps.wow.fadeIn.animated {
  display: none;
}
.bg-slide-redes {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/uploads/2016/11/redes-img.png") no-repeat scroll center top;
  box-sizing: border-box;
  height: 366px !important;
  margin-left: -34px;
  margin-top: 60px;
  padding-top: 88px;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.slide-apps {
  background: rgba(0, 0, 0, 0) url("http://marketerosweb.website/marketeros-web/site/wp-content/uploads/2016/11/apps-img.png") no-repeat scroll center top;
  box-sizing: border-box;
  height: 400px !important;
  margin-left: 66% !important;
  margin-top: -115px !important;
  padding-top: 54px;
  position: absolute;
  width: 80% !important;
  z-index: 100;
}
.red-top-fixed{
background: #00446a none repeat scroll 0 0;
z-index: 999999;}
#back-to-top{
  bottom: 50px !important;
  right: 10px !important;
}
.nav.nav-tabs li{
  width: 100%;text-align: center;border:1px solid #ddd;
}
.info-tab-1 {
  float: left;
  padding: 15px 28px 0 !important;
  width: 100% !important;
}
.info-tab-2{
  width: 100% !important;
}
.line-web {
  position: static !important;
  width: 100% !important;
}
.line-medida{
  position: static !important;
  width: 100% !important;
}
.line-tienda{
  position: static !important;
  width: 100% !important;
}
.tab-content-blue-line a::before {
  display: none;
}
.tab-content-blue-line {
  font-size: 14px !important;
}

.signo {
  display: none !important;
}
.info-pasos ul.nav-tabs li.nav a {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  font-size: 57px;
  height: 50% !important;
  line-height: 41px !important;
  margin: 0 auto;
  max-height: 142px;
  max-width: 142px;
  transition: all 0.2s ease 0s;
  width: 65% !important;
}
.info-pasos ul.nav-tabs li.nav h2 {
  color: #fff;
  display: block;
  font-size: 0.7em !important;
  margin: 40px 0 0;
}
.info-pasos div.tab-content {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  height: auto !important;
}
.info-pasos ul.nav-tabs li.nav {
  height: 137px !important;
  padding: 10px 0;
  text-align: center;
  width: 30%;
}
.proyect-descrip-web {
  margin: 0 0 20px;
  padding: 0 0 0 10px !important;
  position: relative;
}
div.proyect-descrip-web.proy-code::before, div.proyect-descrip-web.proy-shop::before, div.proyect-descrip-web.proy-movi::before  {
  display: none;
  }

  a.btn-proy-web.wow.fadeIn {
    display: none;
}
}
